<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do list details</title>
</head>
    <body>
        <main>
            <div>
                <h1>{{ todo_list.name }}</h1>
                <h1>
                    <p>
                        <a href="{% url 'todo_list_update' id=todo_list.id %}">Edit</a>
                    </p>
                    <p>
                        <a href="{% url 'todo_list_delete' id=todo_list.id %}">Delete</a>
                    </p>
                </h1>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>{{ item.task }}</td>
                            <td>{{ item.due_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
